<%- include("partials/shared_header", { title: "Create User - OAI Reverse Proxy Admin" }) %>
<!-- 
 -->
<h1>Create User Token</h1>
<form action="/admin/manage/create-user" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input type="submit" value="Create" />
</form>
<% if (newToken) { %>
  <p>Just created <code><%= recentUsers[0].token %></code>.</p>
<% } %>
<h3>Recent Tokens</h2>
<ul>
  <% recentUsers.forEach(function(user) { %>
  <li><a href="/admin/manage/view-user/<%= user.token %>"><%= user.token %></a></li>
  <% }) %>
</ul>
<%- include("partials/admin-footer") %>
